@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: margin-left 0.5s;
  margin-left: 100px;
  padding: 2%;
  padding-top: 30px;
  width: 100%;
}

.file-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: margin-left 0.5s;
  margin-left: 100px;
  padding: 2%;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: margin-left 0.5s;
  margin-left: 100px;
  padding: 2%;
  width: 100%;
}

.item {
  flex: 0 13%;
  height: 100px;
  margin-bottom: 5%; /* (100-32*3)/2 */
}

.file-icon {
  margin-right: 10px;
  color: #92ceff;
}

.left-sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
}

.left-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #666;
  display: block;
}

.left-sidebar a:hover {
  color: #000000;
}

main .left-sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.right-sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 90px;
  right: 0;
  padding-top: 30px;
  text-align: right;
}

.right-sidebar a {
  padding: 8px 32px 8px 8px;
  text-decoration: none;
  font-size: 22px;
  color: #666;
  display: block;
  text-align: right;
}

.right-sidebar a:hover {
  color: #000000;
}

main .right-sidebar {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  margin-right: 30px;
}

ayer-container {
  padding-top: 25%;
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
  fill: blue;
}

.search-box {
  width: 30%;
}

.breadcrumb {
  text-align: left;
}
